[user]
  name = Itsuki Aoyagi
  email = mail@yagi2.dev
[alias]
  force-push = push --force-with-lease
[core]
  excludesfile = ~/.gitignore
	editor = micro
[pull]
 ff = only
[ghq]
	root = ~/github.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
    s = "status"
    com = "commit"
    rb = "rebase"
    co = "!$SHELL -c 'git branch -a | peco --prompt \"GIT BRANCH>\" | head -n 1 | sed -e \"s/^\\*\\s*//g\" | xargs git checkout' __dummy__"
    fr = "!$SHELL -c 'git diff --name-only | peco | xargs git checkout' __dummy__"
    db = "!$SHELL -c 'git branch --merged | peco --prompt \"GIT BRANCH>\" | head -n 1 | sed -e \"s/^\\*\\s*//g\" | xargs git branch -D' __dummy__"
    df = "!$SHELL -c 'git diff --name-only | peco | xargs git diff | less -R' __dummy__" 
    ad = "!$SHELL -c 'git diff --name-only | peco | xargs git add' __dummy__"