[user]
  name = Itsuki Aoyagi
  email = mail@yagi2.dev
  signingkey = 15F00AE0C3699754
[alias]
  force-push = push --force-with-lease
[core]
  excludesfile = ~/.gitignore
	editor = micro
[pull]
 ff = only
[ghq]
	root = ~/repos
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
    s = "status"
    com = "commit"
    rb = "rebase"
    co = "!$SHELL -c 'git branch -a | peco --prompt \"Git Branch>\" | head -n 1 | sed -e \"s/^\\*\\s*//g\" | xargs git switch' __dummy__" # switch branch with peco
    fr = "!$SHELL -c 'git diff --name-only | peco --prompt \"File>\" | xargs git restore' __dummy__" # file reset
    db = "!$SHELL -c 'git branch --merged | peco --prompt \"Git Branch>\" | head -n 1 | sed -e \"s/^\\*\\s*//g\" | xargs git branch -D' __dummy__" # delete merged branch
    df = "!$SHELL -c 'git diff --name-only | peco --prompt \"File>\" | xargs git diff | less -R' __dummy__"  # diff with peco
    ad = "!$SHELL -c 'git diff --name-only | peco --prompt \"File>\" | xargs git add' __dummy__" # add with peco
    br = "!$SHELL -c 'ghq list | peco --prompt \"Git Repository>\" | xargs hub browse' __dummy__"
[init]
	templatedir = ~/.git_template/
	defaultBranch = main
[commit]
	gpgsign = true
